.cart-page {
  margin: 40px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-image {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  color: #fff;
  padding: 5px;
  background-color: #ffbf00;
  font-weight: normal;
}
.cart td {
  padding: 15px 5px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
}

.svgtext {
  font-size: 15px;
  padding: 5px 0 0 10px;
}

.summa {
  display: flex;
  justify-content: center;
}
.summa table {
  border-top: 2px solid #000000;
  width: 100%;
  max-width: 300px;
}
.summa td {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 0 0 14px;
}
body
  > div.cont
  > section.summa
  > table
  > tbody
  > tr:nth-child(3)
  > td
  > a
  > button {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: #ffbf00;
  color: #000;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.remove {
  cursor: pointer;
}

.summa button a {
  text-decoration: none;
  color: #000;
}
.cart-image img {
  width: 65px;
  height: 55px;
}
