.go2 {
  text-align: center;
  padding-top: 20px;
}
.rou {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.round {
  border: 2px #000 solid;
  border-radius: 100%;
  width: 60px;
  height: 45px;
  list-style: none;
  /* background-color: #ffbf00; */
}
.l1 {
  border: 2px #000 solid;
  width: 30px;
  height: 0.5px;
  list-style: none;
  margin-top: 20px;
}
.round svg,
.round img {
  padding: 8px 0 0 20px;
  width: 20px;
  height: 20px;
}
.col {
  background-color: #ffbf00;
}
.round p {
  padding: 25px 0 0 10px;
}
.time {
  margin-top: 100px;
  border-top: 2px #000 solid;
  /* padding: 30px 0 0 70px; */
  display: flex;
  flex-direction: row;
}
.yes {
  font-size: 30px;
  padding: 10px 20px 10px 40px;
}
.no {
  border-left: 2px #000 solid;
  height: 100px;
  padding: 10px 20px 10px 40px;
  font-size: 30px;
}

.back {
  margin: 150px 0 0 80px;
}
